{% extends 'base.html' %}

{% block title %}Гостевая книга{% endblock %}

{% block content %}
    <h1>Отзывы</h1>
    {% for review in reviews %}
        <h3><a href="{% url "review_view" review.pk %}">{{ review.author }}</a></h3>
        <p>Статус: ({{ review.status }} | {{ review.get_status_display }})</p>
        <p>{{ review.email }} </p>
        <p><a href="{% url 'review_update' review.pk %}">Update</a></p>
        <p><a href="{% url 'review_delete' review.pk %}">Delete</a></p>
    {% endfor %}
{% endblock %}
